.grid-flexbox {
    @each $screen-prefix, $sizes in get-screens-map($grid-flexbox-screens-support-skip-screens) {
        @media(min-width: get-screen-size($screen-prefix, min)) {
            .#{$screen-prefix}-#{$grid-column-class-prefix}-auto {
                @include flex(0, 0, auto);
                width: auto;
                max-width: 100%;
            }

            .#{$screen-prefix}-#{$grid-column-class-prefix}-stretch {
                @include flex(1, 1, 0px);
                width: auto;
                max-width: 100%;
            }
            
            @each $prefix, $size in $grid-columns {
                .#{$screen-prefix}-#{$grid-column-class-prefix}-#{$prefix} {
                    @include flex-basis($size);
                    width: $size;
                    max-width: $size;
                }
            }
        }
    }
}